<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <div class="container">
      <div class="jumbotron text-center">
        <h1>A Biography</h1>
        <p>About Noah Condotta by Noah Condotta</p>
      </div>
    </div>
    <title>HTML website</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h3 class="text-info">Family/Interests</h3>
          <p class="paragraph">
            My name is
            <span style="color:powderblue">Noah Anthony Condotta</span>, I was
            born in the collingwood hospital on september 12, 2002. I have 2
            older sisters; Amber and Alexis Condotta, My parents names are
            Anthony and Karen Condotta, and i have 3 pets a dog named Charlotte,
            and two rabbits Ash, and Sonic.
          </p>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="collapse"
            data-target="#paraCollapse"
          >
            Expand
          </button>
          <div id="paraCollapse" class="collapse">
            <p class="paragraph">
              Some of my interests are playing guitar, biking, being a part of
              my robotics team doing every aspect from design, programming, and
              machining, and competition,also i enjoy sandbox and resource
              management video games like minecraft, terraria, factorio to name
              a few and I also play dnd occasionally with my friends.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <h3 class="text-primary">Achievements</h3>
          <p class="paragraph">
            Over the last few years I have received some awards with my robotics
            team, for example the “Engineering excellence award” for building a
            very robust robot multiple years in a row, along with multiple
            awards for good sportsmanship.
          </p>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="collapse"
            data-target="#para2Collapse"
          >
            Expand
          </button>
          <div id="para2Collapse" class="collapse">
            <p class="paragraph">
              Along with proper awards i’ve also achieved some more personal
              goals, like being promoted to shift leader/supervisor in the
              kitchen at boston pizza wasaga beach, and I've also learned how to
              play guitar.
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <h3 class="text-success">Programing Expirience</h3>
          <p class="paragraph">
            I have a moderate amount of programming experience from programing
            the robotics team’s autonomous modes in java back in 2017-2018.
          </p>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="collapse"
            data-target="#para3Collapse"
          >
            Expand
          </button>
          <div id="para3Collapse" class="collapse">
            <p class="paragraph">
              I also have some experience in lua, and C+ from making various
              user made mods in games like terraria,don’t starve, and minecraft.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <h2 class="float-left">My school</h2>
        <h2 class="float-right">my interests</h2>
      </div>
      <div class="container">
        <img
          src="https://dynamicmedia.zuza.com/zz/m/original_/2/e/2eeeda1e-c4fd-40c9-87e6-7afd4323ac7a/COL%20jeanvanier%20jl11%20ia_Super_Portrait.jpg"
          class="float-left"
          alt="Paris"
          width="304"
          height="236"
        />
        <img
          src="https://previews.123rf.com/images/piotrkt/piotrkt1712/piotrkt171220410/92921391-real-java-script-code-developing-screen-programing-workflow-abstract-algorithm-concept-closeup-of-ja.jpg"
          class="float-right"
          alt="Paris"
          width="304"
          height="236"
        />
      </div>

      <script src="js/script.js"></script>
    </div>
  </body>
</html>
