
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <script src="/script.js" defer></script>
  </head>  
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse navbar-fixed-top">
...
  <ul class="nav navbar-nav"></ul>
    <li><a href="#section1">Section 1</a></li>

  <ul class="nav navbar-nav"></ul>
    <li><a href="/index">Section 2</a></li>
    <ul class="/aboutme2"></ul>
    <li><a href="/aboutme3">Section 3</a></li>
     <ul class="nav navbar-nav"></ul>
    <li><a href="#section4">Section 4</a></li>
  ...
</nav>
      <div class="jumbotron text-center" id="section1">
  <h1>Biography</h1>
  <p>It's All About me</p> 
</div>
          <div class="btn-group">
  <button type="button" class="btn btn-primary">Sign up</button>
  <button type="button" class="btn btn-primary">Videos</button>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Info <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">More Information</a></li>
      <li><a href="#">What this is</a></li>
    </ul>
  </div>
</div>
      
   <div id="section2">
  <div class="row">
    <div class="col-sm-4">
      <h2>Hobbies</h2>
      <p>Emily is very school oriented. She works hard to make sure all of her homework is completed and her marks are good. </p>
      <div class="container">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">More</button>
  <div id="demo" class="collapse">
   In her spare time Emily enjoys doing anything creative like writing, reading and acting . When with Friends she enjoys playing dungeons and dragons. She is a huge fan of a lot of shows and especially a superhero fan. Due to this she is excitedly awaiting the release of the next Marvel movie.
  </div>
</div>
    
    </div>
    <div class="col-sm-4">
      <h2>Home</h2>
      <p>Emily also has a lot of pets with two cats, and two dogs but her family will be getting a third at the end of september, they also have a leopard gecko.</p>
      <p> She has one brother who also attends vainer and one sister currently in elementary school. </p>
    </div>
    <div class="col-sm-4">
      <h2>Future</h2>        
      <p>For achievements Emily graduated with honors in grade eight and also received two awards. In the future, Emily hopes to attend the University of Waterloo for chemical engineering.</p>
      <p></p>
    </div>
   <div id="section3"  >   
     </div>
 </div> 
      <div class="container">
  <h2>Image Gallery</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41MREj07loL._SX425_.jpg" alt="Lights" style="width:50%">
          <div class="caption">
            <p>Drama masks.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail"> 
          <img src="https://images-na.ssl-images-amazon.com/images/I/71%2BiGHc7f3L._SY355_.jpg" alt="Nature" style="width:50%">
                                                                                                                
          <div class="caption">
            <p>Some really pretty dice.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="https://www.citynews1130.com/wp-content/blogs.dir/sites/9/2015/09/03/textbooks.jpg" alt="Fjords" style="width:50%">
          <div class="caption">
            <p>Books and School.</p>
          </div>
      </div>
    </div>
  </div>
     </div>
</div>
      <div class="container">
     <div id="section4"  >   
        <h3>
        Coding Experence
      </h3>
      <p>
        Emily does not have any experience coding, she took this course to help her decide what she wants to do in the future. She has always had an interest in coding but never really had an opportunity to learn. However she has used the website scratch with is a way for kids to be introduced to coding.         
      </p>  
        </div>
      </div>
        
    <div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>     
<div class="container">
  <div class="media">
    <div class="media-left">
      <img src="https://image.shutterstock.com/image-photo/tshirt-design-concept-smiling-little-260nw-605485274.jpg" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Sally1234@gmail.com</h4>
      <p>HeYYYYYYYYYYYy i got my mommys phone.</p>
    </div>
  </div>
  <hr>  
     <div class="media">
    <div class="media-body">
      <h4 class="media-heading">creepyme2954789hey@gmail.com</h4>
      <p>I like purple dinosuars!!!!XD</p>
    </div>
    <div class="media-right">
      <img src="https://previews.123rf.com/images/stylephotographs/stylephotographs1705/stylephotographs170500311/79356182-successful-business-people-holding-thumbgs-up-in-the-offices-as-winners.jpg" class="media-object" style="width:60px">
    </div>
  </div>
</div>   
      
      <div class="container">
  <div class="media">
    <div class="media-left">
      <img src="https://c8.alamy.com/comp/F90XET/funny-wizard-wearing-red-dress-F90XET.jpg" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Mynamejeffff274@gmail.com</h4>
      <p>Do you want some candy kidz?????</p>
    </div>
  </div>
  <hr>  
     <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Queen#3@gmail.com</h4>
      <p>Why did I loses my head.</p>
    </div>
    <div class="media-right">
      <img src="https://vignette.wikia.nocookie.net/sixthemusical/images/2/2a/Millieoconnell-six-anneboleyn-sep18_ef7295f6.jpg/revision/latest/zoom-crop/width/480/height/480?cb=20190602022833" class="media-object" style="width:60px">
    </div>
  </div>
</div>   
      
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

