
<!DOCTYPE html>




<html lang="en">


<head>


<title>Welcome to Glitch!</title>


<meta name="description" content="A cool thing made with Glitch">


<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">


<meta charset="utf-8">


<meta http-equiv="X-UA-Compatible" content="IE=edge">


<meta name="viewport" content="width=device-width, initial-scale=1">






<!-- import the webpage's stylesheet -->


<link rel="stylesheet" href="/style.css">






<!-- import the webpage's client-side javascript file -->


<script src="/client.js" defer></script>


</head>


<body>


<header>


<h1>


A Basic To Do List


</h1>


</header>


<div>


<a href= "/aboutme">Emily</a>



<a href= "/aboutme2">Noah</a>



<a href= "/aboutme3">Nate</a>


</div>


<main>


<p>List Your To Do's Here</p>






<form>


<input name="dream" type="text" maxlength="100" placeholder="List To Do's Here" aria-labelledby="submit-dream">


<button type="submit" id="submit-dream">Submit To Do</button>


</form>






<section class="dreams">


<ul id="dreams"></ul>


</section>


</main>


</body>


</html>

